extends layout

block content
        #leftPan
          #welcome
            h2
            p(class="subtitle") Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce
            ul(id="list01")
              li
                a(href="#") Morbi volutpat leo in
              li
                a(href="#") ligula. Integer vel lorem
              li
                a(href="#") magna. Quisque ut
              li
                a(href="#") umagna et nisi bibendum
              li
                a(href="#") sagittis. Fusce elit ligula,
              li
                a(href="#") sodales sit amet

            ul(id="list02")
              li
                a(href="#") Morbi volutpat leo in
              li
                a(href="#") ligula. Integer vel lorem
              li
                a(href="#") magna. Quisque ut
              li
                a(href="#") umagna et nisi bibendum
              li
                a(href="#") sagittis. Fusce elit ligula,
              li
                a(href="#") sodales sit amet

            .clear

          #previews
            h2

            .previewItem01
              img(src="/images/games/img_previews.jpg", width="68", height="68", alt="")

              .previewText
                p <span class="headline">Morbi volutpat leo in ligula.</span> <a href="#">Cras quam augue, consectetuer</a> ut, tincidunt a, velit. Quisque euismod tortor sed nulla. Nunc dapibus, nisi et iaculis
              .score
                p Score:<br /><span>67</span>
                .clear

            .previewItem02
              img(src="/images/games/img_previews-12.jpg", width="68", height="68", alt="")

              .previewText
                p <span class="headline">Morbi volutpat leo in ligula.</span> <a href="#">Cras quam augue, consectetuer</a> ut, tincidunt a, velit. Quisque euismod tortor sed nulla. Nunc dapibus, nisi et iaculis
              .score
                p Score: <span>82</span>
                .clear

            .previewItem01
              img(src="/images/games/img_previews-15.jpg", width="68", height="68", alt="")

              .previewText
                p <span class="headline">Morbi volutpat leo in ligula.</span> <a href="#">Cras quam augue, consectetuer</a> ut, tincidunt a, velit. Quisque euismod tortor sed nulla. Nunc dapibus, nisi et iaculis
              .score
                p Score:<br /><span>79</span>
                .clear

            .previewItem02
              img(src="/images/games/img_previews-16.jpg", width="68", height="68", alt="")

              .previewText
                p <span class="headline">Morbi volutpat leo in ligula.</span> <a href="#">Cras quam augue, consectetuer</a> ut, tincidunt a, velit. Quisque euismod tortor sed nulla. Nunc dapibus, nisi et iaculis
              .score
                p Score: <span>91</span>
                .clear

        #rightPan
          #ad
            img(src="/images/games/img_feat.jpg", width="380", height="199", alt="", id="mainImg")

            #description
              #title
                h2
                p Morbi volutpat leo in ligula. Integer vel magna. <a href="#">Quisque ut magna</a> et nisi bibendum sagittis. Fusce
              #stars
                img(src="/images/games/stars_feat.gif", width="80", height="15", alt="")
                p Score: <span>76/100</span>
              ul
                li
                  a(href="#", title="read more") read more
          #new
            h2

            .newItem
              img(src="/images/games/img_new.jpg", width="68", height="68", alt="")
              p
                a(href="#") Quisque ut magna et nisi bibendum
              ul.btn_more
                li
                  a(href="#", title="details") details
              .clear

            .newItem
              img(src="/images/games/img_new-11.jpg", width="68", height="68", alt="")
              p
                a(href="#") Integer vel magna. Quisque
              ul.btn_more
                li
                  a(href="#", title="details") details
              .clear

            .clear

            .newItem
              img(src="/images/games/img_new-13.jpg", width="68", height="68", alt="")
              p
                a(href="#") Morbi volutpat leo in ligula. Integer
              ul.btn_more
                li
                  a(href="#", title="details") details
              .clear

            .newItem
              img(src="/images/games/img_new-14.jpg", width="68", height="68", alt="")
              p
                a(href="#") Quisque ut magna et nisi bibendum
              ul.btn_more
                li
                  a(href="#", title="details") details
              .clear

            .clear

          #wanted
            h2
            p(class="subtitle") Morbi volutpat leo in ligula. Integer vel. Quisque ut magna et nisi bibendum sagittis. Fusce
            img(src="/images/games/img_wanted.jpg", width="68", height="68", alt="")
            p
              <span class="headline">Aenean sit amet massa. Nam mattis enim ut</span><a href="#">Cras quam augue, consectetuer ut, Aliquam ut massa.</a> <br />Suspendisse dolor. Cras quam augue, consectetuer id, auctor ut, tincidunt a, velit. Quisque euismod tortor sed nulla. Nunc dapibus, nisi et iaculis feugiat, leo ipsum

        .clear
