extends layout

block content
  .content-padding-2
    .container_12
      .wrapper
        .grid_12
          .padding-grid-1
            h3.letter Our <strong>Gallery</strong>
            .js
              .js-padding
                #gallery.content
                  .wrapper
                    .slideshow-container
                      #slideshoow.slideshow
              #thumbs.navigation
                ul(class='thumbs noscript')
                  - for (var i in images)
                    li(class= ((i === '2')||(i === '5')) ? 'last' : '')
                      a(class='thumb', href=images[i].href, title='')
                        img(src=images[i].thumb, alt='')
                .clear
