extends layout

block content
  .content-padding-2
    .container_12
      .wrapper
        .grid_12
          .padding-grid-1
            h3.letter Our <strong>Music Videos</strong>
          - for (var i=0; i<videos.length - 1; i+=3)
            div.wrapper(class= (i === 0) ? "indent-bot1" : "")
              each v, id in videos.slice(i, i+3)
                article(class='grid_4 alpha')
                  div(class=(id === 1) ? 'padding-grid-3' : 'padding-grid-2')
                    div(class="wrapper p2")
                      figure(class='style-img-2 fleft')
                        a(class='lightbox-image', href=v.link, data-gal='prettyVideo[prettyVideo]')
                          img(src=v ? v.thumb : '', alt='')
                    p.prev-indent-bot2 
                      = v ? v.title : ''
                    a.link-2(class=links[v.rate], href='#')
