extends layout

block content
  .content-padding-2
    .container_12
      .wrapper
        .grid_12
          .padding-grid-1
            h3.letter Our <strong>Gallery</strong>
            .js
              .js-padding
                #gallery.content
                  .wrapper
                    .slideshow-container
                      #slideshoow.slideshow
              #thumbs.navigation
                ul(class='thumbs noscript')
                  each i, id in images
                    li(class= ((id % 3) === 2) ? 'last' : '')
                      a(class='thumb', href=i.full, title='')
                        img(src=i.thumb, alt='')
                .clear
