extends layout

block content
  .content-padding-2
    .container_12
      .wrapper
        .grid_8
          .padding-grid-1
            h3 Tour <strong>Dates</strong>
          .wrapper
            article(class='grid_4 alpha')
              .padding-grid-1
                each t, id in tours
                  div(class='wrapper img-indent-bot2')
                    time(class='time time-stule-2', datetime=t.date.toISOString())
                      strong(class='text-3')
                        = t.moment.format('DD')
                      strong(class='text-4')
                        = t.moment.format('MMM')
                    .extra-wrap
                      h4(class='indent-top')
                        a(href='#')
                          = t.city
                      = t.text
            article(class='grid_4 omega')
              .padding-grid-4
                each t, id in tours
                  div(class= 'margin-bot1')
                    span(class='text-width') Tickets:
                    span(class='inline')
                      a(class='link', href='#')
                        = t.tickets
                    = "\n"
                    span(class='text-width') Telephone:
                    span(class='color-1 inline')
                        = t.phone
        article(class='grid_4 alpha')
          .padding-grid-3
            h3 Past <strong>Tours</strong>
            ul(class="list-3")
              each p, id in past
                li
                  a(href="#")
                    = p.text
